/* Темный фон с иконкой луны */
.dark-theme {
  background-color: rgb(51, 51, 51);
  background-image: url("moon.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(231, 180, 12);
}

/* Светлый фон с иконкой солнца */
.light-theme {
  background-color: rgb(220, 247, 245);
  background-image: url("sun.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(126, 126, 68);
}
